<ion-card>
  <ion-card-header>
    <ion-buttons>
      <ion-button slot="end" color="success" (click)="onContactDonorClicked()" [disabled]="contactButtonDisabled">Contact Donor</ion-button>
      <ion-button slot="end" color ="primary" (click)="viewMap()">View Map<ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-img [src]="imageUrl"></ion-img>
    
    <ion-card-title>{{name}}</ion-card-title>
    <ion-card-subtitle>Approximate ETA: {{approximateETA}}</ion-card-subtitle>
    <ion-card-subtitle>Status: {{status}}</ion-card-subtitle>

  </ion-card-header>
  <ion-card-content>
    <ion-text>Address:{{address}}</ion-text> 
  </ion-card-content>
</ion-card>
