<ion-header>
  <ion-toolbar>
    <ion-title>Donor Name</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>Approximate Response time: 15 mins</ion-text><br/>
  <ion-text>Status: contacted->awaiting response...</ion-text><br/>
  <ion-text>Location:  8 Belvedere Pl, Mountjoy, Dublin, D01 EV27</ion-text>
    
  <div class="map-snippet" style="width: 600px;"><img src="https://joomly.net/frontend/web/images/googlemap/map.png"></div> 
 
</ion-content>