<form>
<ion-list>
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>email</ion-label>
    <ion-input></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label>blood type</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="aplus">A+</ion-select-option>
      <ion-select-option value="aminus">A-</ion-select-option>
      <ion-select-option value="bplus">B+</ion-select-option>
      <ion-select-option value="bminus">B-</ion-select-option>
      <ion-select-option value="oplus">O+</ion-select-option>
      <ion-select-option value="ominus">O-</ion-select-option>
      <ion-select-option value="abplus">AB+</ion-select-option>
      <ion-select-option value="abminus">AB-</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    Location
  </ion-item>
</ion-list>
<ion-button>Register</ion-button>
<ion-button>Already a member?</ion-button>
<ion-button>Register as Hospital</ion-button>
</form>