<ion-header [translucent]="true">

    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col size="4" style="display: inline-block;">

                    <ion-img src="../../assets/logo-small.png" style="max-width: 39px; max-height: 40px;" routerLink="/" style="display: inline-block;"></ion-img>
                    <ion-buttons *ngIf="this.authService.isLoggedIn===false" style="display: inline;" collapse="true">
                        <ion-button routerLink="/auth/register-donor">Become A Donor</ion-button>
                    </ion-buttons>

                </ion-col>
                <ion-col class="ion-align-self-center" size="4">
                    <div class="ion-text-center">
                        <ion-title style="display: inline-block;">Blood Alert</ion-title>
                    </div>
                </ion-col>
                <ion-col size="4">
                    <div class="ion-text-end">
                        <ion-title style="display: inline-block;">
                            Our Stories
                        </ion-title>
                        <ion-buttons style="display: inline-block; margin-left: 0px;" collapse="true">
                            <ion-menu-button menu="m1" style="display: inline-block;"></ion-menu-button>
                        </ion-buttons>
                    </div>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <app-alert-notification></app-alert-notification>
    <ion-list>
        <ion-item-sliding *ngFor="let story of ourStories">
            <ion-item>
                <app-story-component [title]="story.storyTitle" [imgurl]="story.imageUrl" [details]="story.storyDetails"></app-story-component>
            </ion-item>
            <ion-item-options>
                <ion-item-option [disabled]="!this.authService.myHospital" color="danger" (click)="deleteStory(story)">
                    <ion-icon slot="start" name="trash-outline"></ion-icon>Delete</ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>